/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #f6f6f6;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 14px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 200px;
    background: #EBF3F6;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    border-top: black 1px solid;
    width: 100%;
    padding: 0 0 100px;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 0 300px 270px;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    float: left;
    width: 250px;
    margin-left: -100%;
    position: relative;
    background: #EBF3F6;
}

.left-sidebar ul {
    padding-left: 30px;
}

.left-sidebar li a {
    color: #ffffff;
    font: 13pt Arial;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 1000px;
    margin: -100px auto 0;
    height: 100px;
    background: #EBF3F6;
    position: relative;
    border-top: black 1px solid;
}

.header h1 {
    font-size: 34px;
    padding: 95px 0 0 40px;
}

.footer_content {
    padding: 45px 0 0 40px;
}

table {
    border-collapse: collapse;
    border: 1px solid #c3b9b9;
    width: 98%;
    margin: 15pt 8pt 3pt 8pt;
}

th {
    font-size: 10pt;
    font-weight: bold;
    background-color: #fdf2d0;
    text-align: left;
    color: #664e04;
    padding: 2pt 6pt 2pt 2pt;
    border: 1px solid #c3b9b9;
}

td {
    padding: 2pt 4pt 2pt 4pt;
    text-align: left;
    vertical-align: top;
    border: 1px solid #c3b9b9;
}

h1 {
    color: #671515;
    font: bold 13pt Arial;
    margin: 10px;
}

li {
    margin: 5px;
}

/* === Form Elements === */
.editForm label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.editForm input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

.editForm textarea {
    padding: 8px;
    width: 300px;
}

.editForm button {
    margin-left: 156px;
}

/* form element visual styles */
.editForm input, .editForm textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-right: 30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.editForm input:focus, .editForm textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right: 70px;
}

/* === HTML5 validation styles === */
.editForm input:required, .editForm textarea:required {
    background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}

.editForm input:required:valid, .editForm textarea:required:valid {
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.editForm input:focus:invalid, .editForm textarea:focus:invalid {
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

/* === Form hints === */
.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}

.form_hint::before {
    content: "\25C0";
    color: #d45252;
    position: absolute;
    top: 1px;
    left: -6px;
}

.editForm input:focus + .form_hint {
    display: inline;
}

.editForm input:required:valid + .form_hint {
    background: #28921f;
}

.editForm input:required:valid + .form_hint::before {
    color: #28921f;
}

/* === Button Style === */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

button.submit:hover {
    opacity: .85;
    cursor: pointer;
}

button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;

}